/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: JetbrainsMono-Bold, monospace;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
@font-face {
  font-family: "JetBrainsMono-Bold";
  src: local("JetBrainsMono-Bold"),
    url("./fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "JetBrainsMono-ExtraBold";
  src: local("JetBrainsMono-ExtraBold"),
    url("./fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "JetBrainsMono-BoldItalic";
  src: local("JetBrainsMono-BoldItalic"),
    url("./fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "JetBrainsMono-ExtraBoldItalic";
  src: local("JetBrainsMono-ExtraBoldItalic"),
    url("./fonts/JetBrainsMono-2.242/fonts/ttf/JetBrainsMono-Bold.ttf")
      format("truetype");
}
@font-face {
  font-family: "Rooster";
  src: local("Rooster"),
    url("./fonts/rooster-font/RoosterPersonalUse-3z8d8.ttf") format("truetype");
}
@font-face {
  font-family: "FiraSans-Medium";
  src: local("FiraSans-Medium"),
    url("./fonts/Fira_Sans/FiraSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "OutrunFuture-Bold";
  src: local("OutrunFuture-Bold"),
    url("./fonts/outrun_future/Outrun future Bold.otf") format("truetype");
}
@font-face {
  font-family: "AtarianSystem-Extended-Bold";
  src: local("AtarianSystem-Extended-Bold"),
    url("./fonts/AtarianSystem/sf-atarian-system.extended-bold.ttf")
      format("truetype");
}
/*---------------------------------------------------------------------------------------*/

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: 0.5vmin solid rgba(0, 0, 0, 0.15);
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
input {
  background-color: white;
  border-radius: 0.5vmin;
  text-align: center;
  border: 0px solid;
  height: 8vmin;
  color: black;
  box-shadow: 0.8vmin 0.8vmin rgba(0, 0, 0, 0.25);
}
button {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 1vmin 1vmin rgba(0, 0, 0, 0.5);
  border-radius: 1vmin;
  padding: 2vmin;
  font-family: JetBrainsMono-ExtraBold;
  text-align: center;
  margin: 1vmin;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.8vmin 0.8vmin rgba(0, 0, 0, 0.5);
}
button:active {
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.1vmin 0.3vmin rgba(0, 0, 0, 0.7);
  transform: translateY(4px);
}

/*---------------------------------------------------------------------------------------*/
:root {
  --title-size: 32px;
  --text-size: 16px;
  --color1: 255, 182, 0;
  --color2: 68, 169, 204;
  --color3: 235, 86, 58;
  --color4: 244, 185, 152;
  --color5: 80, 188, 185;
  --color6: 152, 244, 185;
  --color7: 185, 152, 244;
}
/*
--color1: rgb(255, 182, 0);
--color2: rgb(68, 169, 204);
--color3: rgb(235, 86, 58);
--color4: rgb(244, 185, 152);
--color5:rgb(80, 188, 185);
--color6: rgb(152, 244, 185)
--color7: rgb(185, 152, 244);
*/
/*---------------------------------------------------------------------------------------*/

/*-----Basic-skeleton---------------------------------------------------------------------------------*/
.app-router {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.app-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.app-bg-0 {
  background-color: rgba(var(--color4));
}
.app-bg-1 {
  background-color: rgba(var(--color4), 1); /* fallback */
  /*background-color animate fade between variables --color1 and 7*/
  background-image: linear-gradient(
    45deg,
    rgba(var(--color5), 1) 0%,
    rgba(var(--color2), 1) 5%,
    rgba(var(--color7), 1) 10%,
    rgba(var(--color3), 1) 15%,
    rgba(var(--color1), 1) 20%,
    rgba(var(--color6), 1) 25%,
    rgba(var(--color5), 1) 30%,
    rgba(var(--color2), 1) 35%,
    rgba(var(--color7), 1) 40%,
    rgba(var(--color3), 1) 45%,
    rgba(var(--color1), 1) 50%,
    rgba(var(--color6), 1) 55%,
    rgba(var(--color5), 1) 60%,
    rgba(var(--color2), 1) 65%,
    rgba(var(--color7), 1) 70%,
    rgba(var(--color3), 1) 75%,
    rgba(var(--color1), 1) 80%,
    rgba(var(--color6), 1) 85%,
    rgba(var(--color5), 1) 90%,
    rgba(var(--color2), 1) 95%,
    rgba(var(--color7), 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s cubic-bezier(0.65, 0.01, 0.5, 0.99) infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.navbar-holder {
  height: 7vh;
  width: 100vw;
}

.patudo-logo {
  position: absolute;
  top: 0.5vmin;
  left: 10vmin;
  font-family: "AtarianSystem-Extended-Bold";
  font-size: 11vmin;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0.5vmin 0.5vmin rgba(0, 0, 0, 0.5);
}
.patudo-logo-0 {
}
.patudo-logo-1 {
  background-image: linear-gradient(
    -225deg,
    rgba(var(--color5), 1) 0%,
    rgba(var(--color2), 1) 5%,
    rgba(var(--color7), 1) 10%,
    rgba(var(--color3), 1) 15%,
    rgba(var(--color1), 1) 20%,
    rgba(var(--color6), 1) 25%,
    rgba(var(--color1), 1) 30%,
    rgba(var(--color3), 1) 35%,
    rgba(var(--color7), 1) 40%,
    rgba(var(--color2), 1) 45%,
    rgba(var(--color5), 1) 50%,
    rgba(var(--color2), 1) 55%,
    rgba(var(--color7), 1) 60%,
    rgba(var(--color3), 1) 65%,
    rgba(var(--color1), 1) 70%,
    rgba(var(--color6), 1) 75%,
    rgba(var(--color1), 1) 80%,
    rgba(var(--color3), 1) 85%,
    rgba(var(--color7), 1) 90%,
    rgba(var(--color2), 1) 95%,
    rgba(var(--color5), 1) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}
@keyframes textclip {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.navbar {
  height: 90%;
  width: 100%;
  background-color: rgba(var(--color5), 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-edge1 {
  height: 7%;
  width: 100%;
  background-color: rgba(var(--color5), 0.8);
}
.navbar-edge2 {
  height: 7%;
  width: 100%;
  background-color: rgba(var(--color5), 0.5);
}
.navbar-edge3 {
  height: 7%;
  width: 100%;
  background-color: rgba(var(--color5), 0.3);
}
.menu-holder {
}
.menu-btn {
  width: 8vmin;
  height: 8vmin;
  position: absolute;
  top: 0.75vh;
  right: 1vh;
  opacity: 0.8;
  outline: rgba(0, 0, 0, 0.2) solid 0.5vmin;
  border-radius: 100%;
  box-shadow: 0.2vmin 0.8vmin rgba(0, 0, 0, 0.5);
}

.menu-btn--party-mode {
  height: 7vmin;
  width: 7vmin;
}
.menu-btn--party-mode--on-holder {
  animation: pulse 0.5s ease infinite;
}
.menu-btn--party-mode--on2 {
  animation: pulse2 0.5s ease infinite;
}
@keyframes pulse2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.menu-btn--party-mode--on1 {
  border-radius: 50%;
  background-image: radial-gradient(
    rgba(var(--color5), 1) 0%,
    rgba(var(--color2), 1) 5%,
    rgba(var(--color7), 1) 10%,
    rgba(var(--color3), 1) 15%,
    rgba(var(--color1), 1) 20%,
    rgba(var(--color6), 1) 25%,
    rgba(var(--color5), 1) 30%,
    rgba(var(--color2), 1) 35%,
    rgba(var(--color7), 1) 40%,
    rgba(var(--color3), 1) 45%,
    rgba(var(--color1), 1) 50%,
    rgba(var(--color6), 1) 55%,
    rgba(var(--color5), 1) 60%,
    rgba(var(--color2), 1) 65%,
    rgba(var(--color7), 1) 70%,
    rgba(var(--color3), 1) 75%,
    rgba(var(--color1), 1) 80%,
    rgba(var(--color6), 1) 85%,
    rgba(var(--color5), 1) 90%,
    rgba(var(--color2), 1) 95%,
    rgba(var(--color7), 1) 100%
  );
  animation: infinite-spinning 5s linear infinite;
}
@keyframes infinite-spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu-logo--party-mode {
  animation: sway 1s ease infinite;
}
@keyframes sway {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.menu-btn:active {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(1.5);
  transition: transform 0.5s;
}
.menu-title {
  font-family: AtarianSystem-Extended-Bold;
  font-size: 10vmin;
  padding: 2vmin 0 4vmin;
  color: rgba(0, 0, 0, 0.8);
}
.main-holder {
  height: 90%;
  width: 100%;
}
.menu-content {
  width: 55vw;
}

/*-----Game-skeleton---------------------------------------------------------------------------------*/
.info-area-holder {
  height: 29%;
  width: 100vw;
  margin-top: 1vmin;
}
.info-area {
  background-color: rgba(var(--color1), 1);
  height: 90%;
  width: 94%;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
  position: relative;
}
.info-area__round {
  height: 13%;
  width: 30%;
  position: absolute;
  top: 2%;
  background-color: rgba(var(--color1), 1);
  text-align: center;
  border-radius: 0 0 2vmin 2vmin;
}
.info-area__text-holder {
  height: 92%;
  width: 96%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.ia-text-frag {
  font-size: 15px;
  padding-left: 7.5px;
}
.info-area__text-line {
  display: flex;
  padding: 0.5vmin 0;
}
.ia-normal {
}
.ia-bold {
  font-weight: bolder;
  padding-top: 1vmin;
}
.ia-loss {
  color: rgba(var(--color3), 1);
  font-weight: bolder;
}
.ia-gain {
  color: rgba(var(--color5), 1);
  font-weight: bolder;
}
.ia-eliminated {
  color: rgba(var(--color3), 1);
  font-weight: bolder;
  animation: eliminated 1s ease infinite;
}
@keyframes eliminated {
  0% {
    color: rgba(var(--color3), 1);
  }
  50% {
    color: rgba(0, 0, 0, 1);
  }
  100% {
    color: rgba(var(--color3), 1);
  }
}
.ia-winner {
  color: rgba(var(--color5), 1);
  font-weight: bolder;
  margin-top: 2vmin;
  margin-bottom: 2vmin;
  animation: winner 2s linear infinite;
}
@keyframes winner {
  0% {
    color: rgba(var(--color5), 1);
  }
  10% {
    color: rgba(var(--color2), 1);
  }
  30% {
    color: rgba(var(--color7), 1);
  }
  50% {
    color: rgba(var(--color3), 1);
  }
  /* 70% {color: rgba(var(--color1), 1);} */
  70% {
    color: rgba(var(--color6), 1);
  }
  90% {
    color: rgba(var(--color2), 1);
  }
  100% {
    color: rgba(var(--color5), 1);
  }
}


.winner-avatar-message {
  position: relative;
  height: 100%;
  font-size: 17.5vmin;
}
.winner-crown {
  height: 100%;
  position: absolute;
  /*animate move up and down and little to the sides*/
  animation: winner-crown 1s ease infinite;
}
@keyframes winner-crown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4%);
  }
  100% {
    transform: translateY(0);
  }
}
.winner-king {
  height: 100%;
}

/*-general classes--------------------------------------------------------------------------------------*/
.faded-text {
  color: rgba(0, 0, 0, 0.5);
}
.width-50p {
  width: 50%;
}
.opacity-50 {
  opacity: 0.5;
}
/*---------------------------------------------------------------------------------------*/
/*-table and opponent areas--------------------------------------------------------------------------------------*/
.table-area-holder {
  height: 24%;
  width: 100%;
}

.table-area {
  background-color: rgba(var(--color3), 1);
  height: 90%;
  width: 94%;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}
.opponent-holder {
  width: 19.5%;
  height: 90%;
  /*align flex-start*/
  position: relative;
}

.opponent__avatar {
  position: absolute;
  top: 0;
  height: 9vh;
  width: 9vh;
}
.opponent__nickname {
  width: 90%;
  height: 2vh;
  position: absolute;
  top: 50%;
  overflow: hidden;
  text-align: center;

}
.opponent__dice-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  height: 30%;
  width: 95%;
  padding-top: 0.5vh;
}
.opponent__dice--q {
  height: 2.9vh;
  width: 2.9vh;
  /*margin to compensate for empty space in image*/
  margin: -0.4vmin;
}


/*-own dice area--------------------------------------------------------------------------------------*/
.own-cup-area-holder {
  height: 15%;
  width: 100%;
}
.own-cup-area {
  background-color: rgba(var(--color2), 1);
  height: 80%;
  width: 94%;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}
.own-dice {
  height: 18vw;
  width: 18vw;
}
@media (min-aspect-ratio: 65/100) {
  .own-dice {
    height: 11.5vh;
    width: 11.5vh;
  }
}

/*-decision area--------------------------------------------------------------------------------------*/
.decision-area-holder {
  height: 33%;
  width: 100vw;
}
.decision-area {
  height: 90%;
  width: 94%;
  border-radius: 1vmin;
  background-color: rgba(var(--color5), 1);
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}

.bet-holder {
  width: 70%;
  height: 100%;
}
.bet__number-of-dice {
  font-family: AtarianSystem-Extended-Bold;
  display: inline-block;
  font-size: 8vmin;
}
.bet__arrow {
  height: 9vh;
  width: 10vh;
}
.bet__number-of-dice-holder {
  height: 10vh;
  width: 10vh;
}

.bet__dice {
  height: 10vh;
  width: 10vh;
}

.bs-cabbages-holder {
  height: 100%;
  width: 30%;
}
.cabbages-holder {
  /* width: 30%; */
}
.bs-holder {
  /* width: 30%; */
}

.loser-area-holder {
  height: 48.5%;
  width: 100%;
}
.loser-area {
  height: 90%;
  width: 94%;
  border-radius: 1vmin;
  background-color: rgba(var(--color5), 1);
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}
/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
.centre-single-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.take-up-whole-space {
  height: 100%;
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.padding-s {
  padding: 1vmin;
}
.padding-m {
  padding: 2vmin;
}
.padding-l {
  padding: 3vmin;
}

.float1 {
  padding: 1vmin;
  border-radius: 1vmin;
  border: black 0.3vmin solid;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}

.input-shadow {
}

.popup__background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8); /*fallback*/
  animation: popup-background 0.5s ease forwards;
}

@keyframes popup-background {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.popup__holder {
  border-radius: 1vmin;
  border: black 0.3vmin solid;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
  position: relative;
}
.popup__close-btn-holder {
  width: 10vmin;
  height: 10vmin;
  position: absolute;
  top: 0vmin;
  right: 0vmin;
  border-radius: 0 0 0 3vmin;
}
.popup__close-btn {
  cursor: pointer;
  height: 8vmin;
  width: 8vmin;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  /*pulse animation when clicked*/
  animation: pulse 0.5s ease infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.popup__content {
  border-radius: 0.8vmin;
  margin: 2vmin;
  min-height: 20vh;
  max-height: 85vh;
  overflow: auto;
}

.center-of-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.br-s {
  border-radius: 0.5vmin;
}
.br-m {
  border-radius: 1vmin;
}
.br-l {
  border-radius: 2vmin;
}

.padding-sides-s {
  padding: 0 0.5vmin;
}
.padding-sides-m {
  padding: 0 1vmin;
}
.padding-sides-l {
  padding: 0 2vmin;
}

.how-to-play {
  width: 90vw;
}

/*---------------------------------------------------------------------------------------*/
.nickname {
  margin-bottom: 5vmin;
}
.nickname__input {
  font-family: JetBrainsMono-Bold;
  font-size: 4.5vmin;
  width: 50%;
  height: 7vmin;
  /* box-shadow: 1vmin 1vmin 0.5vmin rgba(0, 0, 0, 0.5); */
  text-align: center;
}

.join-lobby__input {
  font-family: JetBrainsMono-Bold;
  font-size: 4.5vmin;
  width: 60%;
  height: 7vmin;
  /* box-shadow: 0.5vmin 0.5vmin 0.5vmin rgba(0, 0, 0, 0.5); */
  text-align: center;
}

.make-lobby-holder {
  /* background: turquoise; */
  width: 40%;
  /*put at bottom of parent*/
  /* position: absolute;
  bottom: 0; */
}
.find-game__or {
  /* background: red; */
  width: 20%;
  height: 15vw;
}
.join-lobby-holder {
  height: 100%;
  width: 40%;
  /* background: blue; */
}

/*---------------------------------------------------------------------------------------*/

.login-register-holder {
  width: 100%;
}

.login-holder {
  width: 90%;
  background-color: rgba(var(--color2), 1);
  border: 0.3vmin solid;
  padding: 3vmin;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
  margin-bottom: 5vmin;
}
.register-holder {
  width: 90%;
  background-color: rgba(var(--color2), 1);
  border: 0.3vmin solid;
  padding: 3vmin;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}
.find-game-holder {
  width: 80%;
  background-color: rgba(var(--color1), 1);
  border: 0.3vmin solid;
  padding: 3vmin;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
  position: relative;
}
.nickname-holder {
}

.create-join-holder {
  align-items: flex-end;
  /* background: green; */
}
.find-game__left-text {
  position: absolute;
  left: 0;
  width: 10vmin;
  /*center text*/
  display: flex;
  justify-content: center;
}
.find-game__left-text2 {
  position: absolute;
  left: 0;
  width: 10vmin;
  height: 9vw;
  /*center text*/
  display: flex;
  justify-content: center;
}

.lobby-holder {
  width: 80%;
  background-color: rgba(var(--color3), 1);
  border: 0.3vmin solid;
  padding: 3vmin;
  border-radius: 1vmin;
  box-shadow: 2vmin 2vmin rgba(0, 0, 0, 0.75);
}
.find-game__spacer {
  width: 10vmin;
}

.lobby__player-list {
}

.lobby__player-list li:before {
  content: "->";
}

.rules-list li:before {
  content: "->";
}

/*border that fades from solid to dashed*/
.current-border {
  border: 1vmin dashed rgba(0, 0, 0, 0.8);
  border-radius: 2.5vmin;
  animation: border-fade 1.314159265s infinite;
}

@keyframes border-fade {
  0% {
    border: 0.8vmin dashed rgba(0, 0, 0, 0);
  }
  5% {
    border: 0.8vmin dashed rgba(0, 0, 0, 0);
  }
  15% {
    border: 0.8vmin dashed rgba(0, 0, 0, 0.8);
  }
  65% {
    border: 0.8vmin dashed rgba(0, 0, 0, 0.8);
  }
  100% {
    border: 0.8vmin dashed rgba(0, 0, 0, 0);
  }
}

/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------*/
/*-----color-switcher---------------------------------------------------------------------------------*/
.color1 {
  background-color: rgba(var(--color1), 1);
}
.color2 {
  background-color: rgba(var(--color2), 1);
}
.color3 {
  background-color: rgba(var(--color3), 1);
}
.color4 {
  background-color: rgba(var(--color4), 1);
}
.color5 {
  background-color: rgba(var(--color5), 1);
}
.color6 {
  background-color: rgba(var(--color6), 1);
}
.color7 {
  background-color: rgba(var(--color7), 1);
}
.color1-st {
  background-color: rgba(var(--color1), 0.8);
}
.color2-st {
  background-color: rgba(var(--color2), 0.8);
}
.color3-st {
  background-color: rgba(var(--color3), 0.8);
}
.color4-st {
  background-color: rgba(var(--color4), 0.8);
}
.color5-st {
  background-color: rgba(var(--color5), 0.8);
}
.color6-st {
  background-color: rgba(var(--color6), 0.8);
}
.color7-st {
  background-color: rgba(var(--color7), 0.8);
}
.color1-st2 {
  background-color: rgba(var(--color1), 0.5);
}
.color2-st2 {
  background-color: rgba(var(--color2), 0.5);
}
.color3-st2 {
  background-color: rgba(var(--color3), 0.5);
}
.color4-st2 {
  background-color: rgba(var(--color4), 0.5);
}
.color5-st2 {
  background-color: rgba(var(--color5), 0.5);
}
.color6-st2 {
  background-color: rgba(var(--color6), 0.5);
}
.color7-st2 {
  background-color: rgba(var(--color7), 0.5);
}
.color1-st3 {
  background-color: rgba(var(--color1), 0.3);
}
.color2-st3 {
  background-color: rgba(var(--color2), 0.3);
}
.color3-st3 {
  background-color: rgba(var(--color3), 0.3);
}
.color4-st3 {
  background-color: rgba(var(--color4), 0.3);
}
.color5-st3 {
  background-color: rgba(var(--color5), 0.3);
}
.color6-st3 {
  background-color: rgba(var(--color6), 0.3);
}
.color7-st3 {
  background-color: rgba(var(--color7), 0.3);
}

.darken-s {
  background-color: rgba(0, 0, 0, 0.2);
}
.darken-m {
  background-color: rgba(0, 0, 0, 0.5);
}
.darken-l {
  background-color: rgba(0, 0, 0, 0.8);
}

/*---------------------------------------------------------------------------------------*/

.display-user-signout {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 2vmin;
}

.lighten-s {
  background-color: rgba(255, 255, 255, 0.1);
}
.lighten-m {
  background-color: rgba(255, 255, 255, 0.25);
}
.lighten-l {
  background-color: rgba(255, 255, 255, 0.5);
}

.square10vh {
  width: 10vh;
  height: 10vh;
}
.square15vh {
  width: 15vh;
  height: 15vh;
}
